@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #50514f;
    --secondary-color: #3b3c3a;
    --accent-color: #5f5958;
    --additional-accent-color: #695f5d;
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --nav-background-color: #50514f;
    --nav-link-color: white;
    --nav-hover-link-color: #5f5958;
    --nav-hover-background-color: #3b3c3a;
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 100px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: var(--nav-link-color);
    margin-left: 20px;
    transition: color 0.3s ease;
    text-decoration: none;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

section {
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
}

.about-content {
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    color: white;
    justify-content: center;
}

.about-content img {
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
}

.history {
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.history-content img {
    width: 100%;
    border-radius: 5px;
}

.history-content p {
    padding: 0 20px;
}

.adventures {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

.adventures-pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.adventures-pics img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer .social_media img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

footer .social_media a:hover img {
    filter: brightness(0.7);
}

footer .social_media {
    margin: 1rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.company-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "info1 info2"
        "info3 info3";
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact_class {
    grid-area: info1;
}

.employee-profiles {
    grid-area: info2;
    display: flex;
    justify-content: space-around;
}

.employee-profiles figure {
    text-align: center;
}

.employee-profiles img {
    width: 100%;
    border-radius: 50%;
}

#map {
    grid-area: info3;
    display: flex;
    justify-content: center;
}


.company-info h2 {
    margin-top: 0;
}

.company-info p {
    margin-bottom: 10px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.inputE {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.buttonBlue {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonBlue:hover {
    background-color: #0056b3;
}

.form_input input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}

.form_input input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.center {
    text-align: center;
}

.container {
    margin: 50px;
    width: 100%;
    box-sizing: border-box;
}

.employee-profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.employee-profiles figure {
    text-align: center;
}

.employee-profiles img {
    width: 100%;
    border-radius: 50%;
}

.employee-profiles figcaption {
    margin-top: 10px;
    font-style: italic;
}

.cta {
    text-align: center;
    background: var(--additional-accent-color);
    color: white;
    padding: 50px 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-button {
    display: inline-block;
    background: white;
    color: var(--accent-color);
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.contact-button:hover {
    background: var(--nav-hover-background-color);
    color: white;
}

.trip-descriptions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.trip {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

.trip img {
    max-width: 100%;
    border-radius: 10px;
}

.trip-table {
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.trip-table th {
    background: var(--additional-accent-color);
    color: white;
}
