
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #50514f;
    --secondary-color: #3b3c3a;
    --accent-color: #5f5958;
    --additional-accent-color: #695f5d;
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --nav-background-color: #50514f;
    --nav-link-color: white;
    --nav-hover-link-color: #5f5958;
    --nav-hover-background-color: #3b3c3a;
  }
/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Styling headings and paragraph elements */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

p {
    line-height: 1.6;
}

/* Remove underlines from social media links */
a {
    text-decoration: none;
}

/* Style the Hero Container */
.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
}

.hero article{
    position: absolute;

}

.hero article img {
    float: right;
    margin-left: 20px; /* Example margin */
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px 20px;
}
header img{
    width: 100px;
}
header nav {
    display: flex;
    justify-content: center;
}
header nav a {
    color: var(--nav-link-color);
    margin-left: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}
.adventures{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.adventures_pics{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: auto;
}
.adventures_pics img{
    margin: .5em;

}
.history{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.history_content{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    padding: auto;
}
.history_content p {
    display: flex;
    padding: auto;
}
.history_content img {
    display: flex;
    padding: 2rem;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.social_media {
    margin: 1rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.company-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.inputE {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.buttonBlue {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonBlue:hover {
    background-color: #0056b3;
}

.form_input input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}


.form_input input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}


textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

center {
    text-align: center;
}
.company-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.company-info h2 {
    margin-top: 0;
}

.company-info p {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}
.container{
    margin:50px;
}